:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(243, 96%, 9%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset */
img {
  display: block;
}

p, input, button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
}

h1 {
  font-family: 'Bricolage Grotesque';
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}



header, main {
  min-width: 76rem;
  margin: 3rem auto;
  display: flex;
}

header {  
  flex-direction: row;
  justify-content: space-between;
}

main {
  flex-direction: column;
}

.units-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: hsl(243, 27%, 20%);
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
}

.dropdown-btn {
  background: url('icon-dropdown.svg') no-repeat center;
  width: 13px;
  height: 8px;
}

/* Search bar */
.search-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 50%;
  margin: 0 auto;
}

.search-bar > input {
  background:  url('icon-search.svg') no-repeat 1rem, center, hsl(243, 27%, 20%);
  border-radius: 0.75rem;
  padding: 1rem 1rem 1rem 3rem;
  width: 100%;
  font-size: 1.2rem;
}

.search-bar > button {
  padding: 1rem;
  background-color: hsl(233, 67%, 56%);
  border-radius: 0.75rem;
  font-size: 1.2rem;
  text-align: center;
}

